body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #001B33, #003366);
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 80px;
    height: 470px;
    background: #f5f5f5;
    padding: 20px 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 20px;
    bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
}

.sidebar .logo {
    margin-bottom: 30px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sidebar ul li {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

.sidebar ul li img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.sidebar ul li:hover {
    background: #e0e0e0;
}
/* Main area */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Header*/
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #002a5c;
    height: 52px;
}


.searchbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin-right:710px;
}

.searchbar input {
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 250px;
}

.searchbar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: -35px;
}

.searchbar img {
    width: 20px;
    height: 20px;
}

/* Profile Section */
.profile-section {
    background: #e6e6e6;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    width: 1050px;
    margin-left: 150px; 
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-header h2 {
    color: #001B33;
    margin-right: 10px;
}

.profile-header img {
    width: 40px;
    cursor: pointer;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    gap: 20px;
}

.form-group input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}
.form-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
    margin-left: 1px;
}


.save-btn, .cancel-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.save-btn {
    background-color: #007bff;
    color: white;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
}

.save-btn:hover {
    background-color: #0056b3;
}

.cancel-btn:hover {
    background-color: #a71d2a;
}
