:root{
    --body-color: #003366;
    --sidebar-color: #fff;
    --primary-color: #c9bb03;
    --text-color: #000000;

    --tran-01: all 0.2 ease;
    --tran-02: all 0.3 ease;
    --tran-03: all 0.4 ease;
    --tran-04: all 0.5 ease;
}

* {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    height: 100vh;
    background: var(--body-color);
}
header{
    background:var(--primary-color);
    height: 15%;
}

.logo{
    position: fixed;
    top: 3%;
    height: 10vh;
    width: 10vh;

}
.logo img{
    height: 10vh;
    width: 10vh;
    border-radius: 10px;
}
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 50px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-links {
    position: fixed;
    top: 6%;
    left: 10%;
    display: flex;
    gap: 20px;
    padding-left: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #5b9bdb;
}

.main-section {
    position: fixed;
    top: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}


.content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

button {
    background-color: #4b6cb7;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #395591;
}

.image-section img {
    position: fixed;
    top: 25%;
    right: 7%;
    width: 450px;
    height: auto;
}
