* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  
  header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: #F6F4EB;
    display: flex;
    justify-content: space-between;
    z-index: 99;
  }
  
  .logo-01 {
  
    display: flex;
    align-items: center; 
    height: 50px; 
    object-fit: contain; 
  }
  
  .navbar div {
  
    margin-top: 7px;
  
  }
  
  .navbar a {
  
      position: relative;
      font-size: 1.1em;
      color: #092635;
      text-decoration: none;
      font-weight: 500;
      margin-left: 40px;
  
  }
  
  .navbar a::after {
  
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #193e58;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
  }
  
  .navbar a:hover::after {
  
    transform-origin: left;
    transform: scaleX(1);
  
  }
  
  .navbar .btnlogin-popup {
  
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #092635;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
  }
  
  .navbar .btnlogin-popup:hover {
  
    background-color: #092635;
    color: aliceblue;
  
  }
  
  body{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }
  
  .container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #91C8E4, #749BC2, #4682A9);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
  .row{
    display: flex;
    height: 88%;
    align-items: center;
  }
  .col{
    flex-basis: 50%;
  }
  h1{
    color: #fff;
    font-size: 100px;
  }
  p{
    color: #fff;
    font-size: 20px;
    line-height: 20px;
  }
  .card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
  }
  
  .card1{
    background-image:  url(download.jpg);
  }
  .card2{
    background-image:  url(b.jpg);
    padding: 1rem;
  }
  .card3{
    background-image:  url(c.jpg);
  }
  .card4{
    background-image:  url(d.jpg);
  }
  
  .card:hover{
    transform: translateY(10px);
  }
  h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
  }
  .card p{
    color: #193e58;
    font-weight: bold;
  }
  
  h5{
    font-size: 13px;
    color: #000;
  
  }
  
  .wrapper {
      position: absolute;
      width: 400px;
      height: 440px;
      background: transparent;
      border: 2px solid rgba(255, 255, 255, .5);
      border-radius: 20px;
      backdrop-filter: blur(20px);
      box-shadow: 0 0 30px rgba(0, 0, 0, .5);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transform: scale(0);
     transition: transform .5s ease, height .2s ease;
     margin: 0;
  }
  
  .wrapper.active-popup{
    transform: scale(1);
  }
  
  .wrapper.active {
      height: 520px;
  
  }
  
  .wrapper .form-box {
      width: 100%;
      padding: 40px;
  }
  
  .wrapper .form-box.login {
      transition: transform .18s ease;
      transform: translateX(0);
  }
  
  .wrapper.active .form-box.login {
      transition: none;
      transform: translateX(-400px);
  }
  
  .wrapper .form-box.register {
      position: absolute;
      transform: translateX(400px);
  }
  .wrapper.active .form-box.register{
    transition: transform .18s ease;
    transition: none;
    transform: translateX(0);
  }
  
  .wrapper .icon-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 45px;
      background: #193e58;
      font-size: 2em;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 20px;
      cursor: pointer;
      z-index: 1;
  }
  
  .form-box h2 {
    font-size: 2em;
    color: #193e58;
    text-align: center;
  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #193e58;
    margin: 30px 0;
  }
  
  .input-box label {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 1em;
      color: #193e58;
      font-weight: 500;
      pointer-events: none;
      transition: .5s;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -5px;
    
  }
  
  .input-box input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1em;
      color: #193e58;
      font-weight: 600;
      padding: 0 35px 0 5px;
  }
  
  .input-box .icon {
      position: absolute;
      right: 8px;
      font-size: 1.2em;
      color: #193e58;
      line-height: 57px;
  
  }
  
  .remember-forgot {
      font-size: .9em;
      color: #193e58;
      font-weight: 500;
      margin: -15px 0 15px;
      display: flex;
      justify-content: space-between;
  }
  
  .remember-forgot label input {
      accent-color: #193e58;
      margin-right: 3px;
  }
  
  .remember-forgot a {
      color: #193e58;
      text-decoration: none;
  }
  
  .remember-forgot a:hover {
      text-decoration: underline;
  }
  
  .btn {
      width: 100%;
      height: 45px;
      background: #193e58;
      border: none;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1em;
      color: white;
      font-weight: 500;
  }
  
  .login-register {
      font-size: .9em;
      color: #193e58;
      text-align: center;
      font-weight: 500;
      margin: 25px 0 10px;
  }
  
  .login-register p a {
      color: #193e58;
      text-decoration: none;
      font-weight: 600;
  }
  
  .login-register p a:hover {
      text-decoration: underline;
  }
  
  /* category*/
  
  .sec1 { 
    margin-top: 100%;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .sec1-scroll{
    background-color: #092635;
  }
  
  html {
   scroll-behavior: smooth;
   scroll-padding: var(--scroll-padding, 5rem)
  
  }
  
  
  .about-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-infographic {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .infographic-item {
    text-align: center;
  }
  
  .infographic-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .infographic-label {
    font-size: 14px;
    color:#193e58;
  }
  
  .sec1 .about-container .about-text {
    color: #193e58;
  }
  
  /* FOOTER */
  
  .footerr-section{
      bottom: -120%;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      place-items: center;
      background:#4682A9;
  }
  
  .footer-content-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto; 
    padding: 15px;
  }
  
  .footer-content-wrapper a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    padding-right: 20px;
  }